html{
    font-family: Inter;
    font-style: normal;
}

.container{
    display: grid;
    padding: 20px;
    gap: 10px;
}

.title{
    display: grid;
    border-radius: 10px;
    padding: 10px;
    color: black;
}


.new-message{
    justify-self: right;
    margin-top: 10px;
    display: grid;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-wrap: 20%;
    border-radius: 18px;
    color: white;
    font-style: bold;

    background-color: #fdbf04;
}



.chat-box{
    padding: 20px;
    border-radius: 5px 5px 0px 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
    margin-top: 20px;
    height: 300px;
    overflow-y: auto;
}

.userlbl{
    font-size: small;
    color: gray;
    margin-top: -18px;
}

.back-arrow{
    cursor: pointer;
}

.back-arrow:hover{
    color: #fdbf04;
    transition: 0.3s;
}
.header{
    display: flex;
    border: 1px solid gray;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.title{
    display: flex;
    align-items: center;
}


.title>a{
    margin-top: -40px;
}

.destructive-button{
    background-color: red;
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    height: 90px;
}


.flex-box{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

button{
    padding: 8px;
    font-weight: bold;
    background-color: #fdbf04;
    height: 30%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.banner{
    position: absolute;
    justify-self: left;
    background-color: #fdbf04;
}

.input-box{
    display: grid;
    grid-template-columns: auto auto;
    z-index: 50;
    right: 0;
    margin-right: 3%;
    margin-top: 20px;
    width: 100%;
}

.time-text{
    font-size: small;
    text-decoration: underline;

}

.banner{
    font-size: small;
    right: 0;
    padding: 1px;
    margin-right: 38px;
    margin-top: -21px;
    width: 30%;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    color: white;
    animation: slide-down;
    animation-duration: 2s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@keyframes slide-down {
    from{height:0%}
    to{height:10%}
    
}
.banner>h1{
    font-size: 18px;
}

.plus-icon{
    background-color: #fdbf04;
    border-radius:0px 10px 10px 0px ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px gray;
    color: white;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.plus-icon:hover{
    padding: 12px;
}

/* .plus-icon:hover{
    anim
} */


.input-flex-box{
    display: flex;
    gap: 0px;
}

input{
    padding: 10px;
    display: flex;
    flex:wrap;
    border-radius: 0px 0px 0px 0px;
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: gray solid 1px;
    width: 100%;
}