
.homepage-img1{
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: -50px;
    animation: slide-right 2s ease-in-out;

}

.homepage-img2{
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-right: -50px;
    animation: slide-left 3s ease-in-out;

}


.box{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}


.box-text{
    width: 100%;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.box-text-img{
    width: 20%;
    align-self: center;
}


.round-box{
    padding: 40px;
    border-radius: 30px;
    width:2%;
    height: 2%;
}

.container-text>h1{
    color: gray;
    text-align: right;
}


.groups-section{
    background-color: #d6dcdc;
    width: 100%;
    margin: -40px;
    padding: 50px;
    padding-bottom: 100px;
}


.group-box{
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: auto;
}

.groups-flexbox{
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.group-box>p{
    margin-top: -10px;
}

.group-box>.flex>h1{
    font-size: 14px;
}

.group-box-icon{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.group-box-icon:hover{
    background-color: #d6dcdc;
}



.flex{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.create-section{
    background-color: white;
    width: 100%;
    margin: -50px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
    padding: 50px;
   
}

.common-room-img{
    width: 30%;
    border-radius: 15px;
}

.create-form{
    padding: 20px;
    display: grid;
    gap: 20px;
    width: 80%;

}

.create-form>button{
    height: auto;
    width: 100%;
}

input{
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

select{
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}




textarea{
    width: 100%;
    border-radius: 5px;
    height: 120px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-family: sans-serif

}


@keyframes slide-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}